*{
  box-sizing: border-box;
}

body{
  background-color: #FB6B6B;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.green{
  background-color: green;
}
.font-green{
  color: green;
  text-decoration: line-through;
}
.font-orange{
  color: orange;
  text-decoration: line-through;
}
.font-red{
  color: red;
  text-decoration: line-through;
}

/*Home*/
.WelcomePage{
  height: 100vh;
  display: flex;
  justify-content: center;
}
.WelcomeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.WelcomeContent img{
  width: 136px;
  height: 160px;
  margin-bottom: 26px;
}
.WelcomeContent h1{
  font-family: 'Righteous', cursive;
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
}
.WelcomeContent button{
  font-family: 'Recursive', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: red;
  border-radius: 5px;
  border: 2px solid red;
  width: 246px;
  height: 54px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* GameStart */
.GameHeader{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 26px;
}
.GameHeader img{
  width: 52px;
  height: 60px;
}
.GameHeader h1{
  font-size: 36px;
  font-family: 'Righteous', cursive;
  color: white;
  margin-left: 20px;
}
.GameContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.GameStats{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}
.GameStats h1{
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/*Question*/
.QuestionHead{
  margin-top: 26px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: 66px;
  background-color: white;
}
.QuestionHead h1{
  margin-left: 16px;
  font-family: 'Recursive', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.QuestionHead ion-icon{
  margin: auto 10px auto 0;
  font-size: 30px;
}

/*CardQuestion*/
.CardQuestion{
  position: relative;
  margin-top: 26px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 130px;
  background-color: #FFFFD4;
}
.CardQuestion h1{
  margin: 18px 0px 0px 16px;
  font-family: 'Recursive', sans-serif;
  font-size: 18px;
}
.CardQuestion img{
  position: absolute;
  bottom: 8px;
  right: 16px;
  width: 30px;
  height: 20px;
}

/*Alternatives*/
.Alternatives{
  font-family: 'Recursive', sans-serif;;
  padding: 6px 13px;
  position: relative;
  margin-top: 26px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 130px;
  background-color: #FFFFD4;
}
.Alternatives .Buttons{
  display: flex;
  justify-content: space-between;
}
.Alternatives .Buttons button{
  font-family: 'Recursive', sans-serif;
  color: white;
  width: 86px;
  height: 38px;
  border-radius: 6px;
  border: none;
}